<div class="col-md-12" ng-controller="myfunc">
    <!-- general form elements -->

            <div ng-controller="MyController1">
                    <input type="button" value="Broadcast Down" 
                        ng-click="OnClick()" />
                    <h4>{{Message}}</h4>
                    <div ng-controller="MyController2">
                    <h4>{{Message}}</h4>
                    <div ng-controller="MyController3">
                    <h4>{{Message}}</h4>
                    <input type="button" value="Emit Up" 
                            ng-click="OnClick()" />
                    </div>
                    </div>
                    </div>
                    
</div>