<div class="col-md-12" ng-controller="myfunc">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Events</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        <form role="form">
            <div class="box-body">
                <input type="text" ng-model="jwt_token">
                <input type="button" value="Generate Token" ng-click="generate_taken()">
                <input type="button" value="Verify Token" ng-click="verify()">
                <pre>
                        var express = require('express');
                        var events = require('events');
                        var event_emitter = new events.EventEmitter();
                        var router = express.Router();
                        
                        /* GET home page. */
                        router.get('/', function(req, res, next) {
                            
                            var multiple = function()
                            {
                                console.log("Event Called");
                                event_emitter.emit('calculate');
                            }
                            var calculate1 = function calculate(a)
                            {
                                console.log(a*a);
                            }
                            event_emitter.on('entry',multiple);
                            event_emitter.on('calculate',function(){
                                calculate1(2);
                            });
                            event_emitter.emit('entry');
                        });
                        
                        module.exports = router;
                        
                </pre>
                    
            </div>
            <!-- /.box-body -->
        </form>
    </div>
    <!-- /.box -->


</div>